.transactionHistoryUser {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
  border: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 3px solid #fff;
  border-collapse: collapse;
  outline: 3px solid #079727;
  font-size: 15px;
  background: #fff;
}
.transactionHistoryUser th {
  font-weight: bold;
  padding: 7px;
  background: #079727;
  border: none;
  text-align: left;
  font-size: 15px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #079727;
}
.transactionHistoryUser td {
  padding: 7px;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 15px;
}
.transactionHistoryUser tbody tr:nth-child(even) {
  background: #f8f8f8;
}
